Repository tiangolo/uwsgi-nginx-docker, pull requests merged in 2024-03, with the labels that each got.

#198 🔥 Remove support for Alpine
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
  docker-images/entrypoint.sh
  docker-images/install-nginx-alpine.sh
  docker-images/python3.8-alpine.dockerfile
  pyproject.toml
  scripts/process_all.py
Labels: refactor

#199 📝 Update test badge in `README.md`
  README.md
Labels: docs

#200 ✨ Add support for multiarch builds, including ARM (e.g. Mac M1)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  pyproject.toml
  scripts/build-push-all.sh
  scripts/build-push.sh
  scripts/build.sh
  scripts/docker-login.sh
  scripts/test-all.sh
  scripts/test.sh
Labels: feature

#201 🔧 Update `latest-changes.yml`
  .github/workflows/latest-changes.yml
Labels: internal

#203 🔧 Add GitHub templates for discussions and issues, and security policy
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  SECURITY.md
Labels: internal

#208 🔧 Avoid creating unnecessary `*.pyc` files with `PYTHONDONTWRITEBYTECODE=1` and ensure logs are printed immediately with `PYTHONUNBUFFERED=1`
  docker-images/python3.10.dockerfile
  docker-images/python3.11.dockerfile
  docker-images/python3.7.dockerfile
  docker-images/python3.8.dockerfile
  docker-images/python3.9.dockerfile
Labels: feature
